# [REQUIRED] Authentication to Firehose endpoint (see https://docs.dfuse.eosnation.io/platform/dfuse-cloud/authentication/)
DFUSE_TOKEN=<DFUSE_API_TOKEN>

# [OPTIONAL] Endpoint for getting authentication token
AUTH_ENDPOINT="https://auth.eosnation.io/v1/auth/issue"
# [OPTIONAL] Endpoint for querying block numbers from date
DFUSE_GRAPHQL_ENDPOINT="https://eos.dfuse.eosnation.io/graphql"